################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs
*.sln
*.tlog
*/x64/Debug
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
